<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="SMI_Service.StudentService" behaviorConfiguration="StudentServiceBehavior" >
				
				
				<endpoint
					address="StudentService"
					binding="basicHttpBinding"
					contract ="SMI_Service.IStudentService"  />
				
				    
			</service>

			<service name="SMI_Service.BranchService" behaviorConfiguration="BranchServiceBehavior" >


				<endpoint
					address="BranchService"
					binding="basicHttpBinding"
					contract ="SMI_Service.IBranch"  />


			</service>
			
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="StudentServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>

				<behavior name="BranchServiceBehavior">
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>